.button {
  padding: 10px 25px;
  background: rgba(176, 207, 222, 0.1);
  border: 1px solid rgba(176, 207, 222, 0.5);
  color: #b0cfde;
  font-family: "Arial", sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 0 0 15px rgba(176, 207, 222, 0.3);
  text-shadow: 0 0 5px rgba(176, 207, 222, 0.5);
  max-width: 90%;
}
.app{
  width: 100vw;
  height: 100vh;
}
.button:hover {
  background: rgba(176, 207, 222, 0.2);
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(176, 207, 222, 0.5);
  border-color: rgba(176, 207, 222, 0.8);
}

.button-overlay {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  display: flex;
  justify-content: center;
  width: 100%;
}
